{% extends 'base.html' %}

{% load static %}

{% block title %}
Harta Magazine
{% endblock %}

{% block stylesheet %}
    <link rel="icon" href="{% static 'home/images/store_icon.png' %}" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
{% endblock %}

{% block content %}
<div id="container">
    <!-- Sidebar (partea stângă) -->
    <div id="sidebar">
        <!-- Butoanele pentru taburi (unul lângă altul) -->
        <div id="tabs">
            <button onclick="displayNearbyWishlists()">Wishlist-uri din apropiere</button>
            <button onclick="displayMyRequests()">Wishlist-urile mele</button>
            {% comment %} <button onclick="displayMyTrips()">Tripurile mele</button> {% endcomment %}
        </div>

        <!-- Div-urile pentru fiecare tab -->
        <div id="nearby-wishlists"></div>
        <div id="my-wishlists"></div>
        <div id="my-trips"></div>

        <!-- Formularul pentru wishlist (buton și câmp de text unul lângă altul) -->
        <form method="post" id="wishlist-form">
            {% csrf_token %}
            <input type="text" id="wishlist-items" name="wishlist-items" placeholder="Adaugă articole...">
            <button type="button" id="add-wishlist">Adaugă la Wishlist</button>
        </form>

        <!-- Mesajele -->
        <div id="message"></div>
    </div>

    <!-- Harta (partea dreaptă) -->
    <div id="map" style="height: 600px;"></div>
</div>
{% endblock %}

{% block script %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="{% static 'home/js/map.js' %}"></script>
    <script src="{% static 'wishlists/wishlists.js' %}"></script>
{% endblock %}
